---
layout: container-breadcrumb
title: Products
permalink: /products/
description: |-
    96Boards includes Consumer Edition, Enterprise Edition, IoT Edition, Mezzanine Products and Accessories.
    Visit 96Boards product page to see which boards or specification suites you.
keywords: Consumer Edition Boards, Enterprise Developement Boards, ARM 64 Dev Boards, IoT Production boards, hacker, Makers
css-package: products
js-package: products
---

<div id="grid">
{% assign products_array =  site.products | where: 'product','true' | reverse %}
{% for product in products_array %}
    {% assign product-url = product.permalink | split: "/" %}
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="col-item">
            <div class="photo">
                <a href="{{product.permalink}}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{% asset_path '{{product.image.name}}' %}" class="lazyload img-responsive" alt="a" />
                </a>
            </div>
            <div class="info">
                <div class="product-title col-md-12 text-center">
                    <a href="{{product.permalink}}">
                        <h5>{{ product.title }}</h5>
                    </a>
                </div>
                {% if product.short-desc %}
                <div class="product-short-description">
                    <p>
                        {{product.short-desc}}
                    </p>
                </div>
                {% endif %}
                <div class="separator clear-left">
                            <div class="dropdown dropdown-container btn-group dropup btn-block center-block" class="product-buy-dropdown">
                                <a href="{{ product.permalink }}" class="btn btn-primary btn-read-more">View</a>
                            </div>
                    </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
