body {
    background-color: #0c0c0c;
}
#brand-image {
    height: 66px;
    width: auto;
    padding: 5px;
}

ul#tabbed_nav {
    margin-top: 20px;
}

div#tabbed_nav_content {
    padding:0px;
}

#title-text h1 {
    text-align: left;
    display: inline-block;
    position: absolute;
    color: white;
    width: 600px;
    font-size: 20px;
    top: 0px;
    font-weight: normal;
}

img#ai-logo {
    position: fixed;
    top: -2px;
    height: 76px;
    z-index: 1;
}

img#boards-footer-logo {
    position: relative;
    top: 5px;
}


img.footer-logo{
	transition: all 500ms ease;
}
img.footer-logo:hover{
	opacity:.5;
}

.container-fluid.footer {
    position: relative;
    border-top: 1px solid #191919;
}

.footer-strip {
    border-top: 1px #191919 solid;
}

a.btn.btn-social-icon {
    margin-right: 0;
    padding-right: 0;
}

a.btn.btn-social-icon i {
    margin-right: 0;
}

.about-image {
    width: 200px;
    height:200px;
    background-size: cover;
    background-position: center center;

    border-radius: 100px;
}


@media(max-width: $screen-sm-min) {
    #title-text h1.text-center {
        display: none;
    }
    .about-image {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

// CSS for the email button.
#wrapper .email {
    height: 50px;
    background-color: $brand-primary;
    width: 200px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease;
}
#wrapper .email:hover {
    background-color: #3a3a3a;
    border: 1px solid #000000;
    color:white;
}
#content-container #contact-thanks h3.text-center {
    color: black !important;
}
.navbar-header {
	z-index: 9999;
}
.members-panel .panel-heading {
    border: 0;
}
img.img-responsive.ai-homepage-image {
    height: 200px;
    width: auto;
}
.board_image {
    height: 300px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#flow_wrapper div#ai_boards_row {
    background-color: #000000;
}

#flow_wrapper .board_item h4 {
    color: #fafafa;
}
#flow_wrapper .board_item p {
    color: #fafafa;
}
.row.content.github-edit {
    background-color: black;
    z-index: 2;
}

div#github_controls a#github_home {
    background-color: black;
    color: white;
    border: 1px solid #2d2d2d;
}
div#github_controls a.btn {
    background-color: black;
    color: white;
    border: 1px solid #2d2d2d;
}
#particles-js > canvas {
    z-index: 9;
    width: 100% !important;
}
#particles-js {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(main.css);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    background-repeat: no-repeat;
}
#all_boards_row .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
#all_boards_row .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
@media(min-width:1000px){
    p.board_desc {
        height: 167px;
    }
}

#all_boards_row h4 {
    height: 50px;
}
span.ai_logo:before {
    content: url();
    display:inline;
    background-size: contain;
    background-image: url('/assets/images/96Boards-ai-logo-dark.png');
    display: inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    width: 30px;
    height: 27px;
    content:"";
}

#ai_boards_row button {
    height: 40px;
    margin-top:10px;
    background-color: black !important;
    width: 40px;
    border: 1px solid #eee;
    font-size: 24px;
}
#ai_boards_row button:hover {
    height: 40px;
    margin-top:10px;
    background-color: white !important;
    width: 40px;
    font-size: 24px;
}

@media (max-width: 1000px) {
    #wrapper #flow_wrapper div#ai_title_row {
        padding-top: 40px !important;
    }
}
div#ai_title_row {
    background-color: #000 !important;
    color: white;
}div#ai_title_row h1 {
    color: white;
}
.owl-nav {
    position: absolute;
    top: -80px;
    width: 100%;
}
footer {
    z-index: 9;
}
