body {
    background-color: #0c0c0c;
}

#brand-image {
    height: 66px;
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}


img#ai-logo {
    position: fixed;
    top: -2px;
    height: 76px;
    z-index: 1;
}
