// Carousel configuration parameters
$n: 4;
$item-width: 50vw;
$item-separation: 150px;
$viewer-distance: 500px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n; 
$apothem: 482.842712474619px;


.carousel#ai-board-carousel {
	padding: 20px;
	perspective: $viewer-distance;	
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		flex: 0 0 auto;
	}
	
	figure {
		margin: 0;
		
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		transform-origin: 50% 50% (-$apothem);
		
		img {
			// Disable selection on the image
			-khtml-user-select: none;
			-o-user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			user-select: none;
  
			width: 100%;
			box-sizing: border-box;
			// padding: 0 $item-separation / 2;
						
			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
				transform-origin: 50% 50% (-$apothem);
			}
				
			@for $i from 2 through $n {
				&:nth-child(#{$i}) {
					transform: rotateY(#{($i - 1) * $theta}rad);
				}
			}
		}
		
	}
	
	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;
		
		button {
			flex: 0 0 auto;
			margin: 0 5px;
			
			cursor: pointer;
			
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
	
}
//Safari Carousel
#safari-carousel{
    display: none;
}
.carousel-inner img {
    object-fit: contain;
}
.carousel-inner .item{
    background-color:transparent;
}
.carousel-caption {
	background-color: black;
	opacity: .8;
}
.navbar-header {
	z-index: 9999;
}
#safari-carousel .btn.view-more-info {
	display: block;
	background-color: black;
	border: 1px solid white;
	width: 100px;
	margin: 10px auto;
	padding: 5px;
	opacity: .7;
}