canvas.particles-js-canvas-el {
    position: absolute;
    z-index: -1;
}

.container-fluid.breadcrumb-container {
    z-index: 1;
    position: relative;
}

.container-fluid.breadcrumb-container {
    background-color: #000;
}