<div id="members-section">
    <div class="row content-row">
        <div class="container">
            <div class="members-panel panel">
                <div class="panel-heading text-center m-b-40">
                    <h3>
                        Join industry leaders driving the 96Boards.AI initiative.
                    </h3>
                </div>
                <div class="panel-body members-panel-body">
                    <div class="col-md-12 members-panel" id="boards-ai"></div>
                </div>
            </div>
        </div>
    </div>
</div>