---
nav-light: true
home: true
js-package: home-ai
css-package: home-ai
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <!-- Particle BG -->
        <div id="page-starfield" class="section-overlay"></div>
        <!-- /End Particle BG -->

        <!-- Overlay BG -->
        <div class="section-overlay bg-black overlay-opacity"></div>
        <!-- /End Overlay BG -->
        
        {% include nav.html %}

        {% if site.data.settings.google.tag_manager %}
          {% include gtm-noscript.html %}
        {% endif %}
        <div id="wrapper" class="{% if layout.home == true and site.data.settings.home.jumbotron.enabled %}home{% else %}main{% endif %}">
            {{content}}
        </div>
        {% include javascript.html %}
    </body>
</html>
